In [1]:
%load_ext autoreload
%autoreload 2

from tqdm import tqdm
import pandas as pd
import numpy as np
import gzip
import json
import math
from datetime import datetime
from IPython.display import display
%matplotlib inline

In [2]:
currency_pairs = ['USDT_BTC', 'BTC_ETH', 'BTC_XMR', 'BTC_XRP', 'BTC_FCT', 'BTC_NAV', 'BTC_DASH', 'BTC_MAID', 'BTC_ZEC']
currency_pair = currency_pairs[0]

In [3]:
folder = '../data/'
files = [os.path.join(dp, f) for dp, dn, fn in os.walk(os.path.expanduser(folder)) for f in fn]
datafiles = sorted([f for f in files if f.endswith('.log.gz')])
print("Number of datafiles to extract from: {}".format(len(datafiles)))
print("First file: {}".format(datafiles[0]))
print("Last file : {}".format(datafiles[-1]))

Number of datafiles to extract from: 82405
First file: ../data/2016-11-08/poloniex_full_2016-11-08T10:00:09.955811.log.gz
Last file : ../data/2017-01-04/poloniex_full_2017-01-04T16:20:05.204740.log.gz

In [4]:
from manage_orderbooks import *
from orderbook_trade_simulator import *

num_samples = None
range_factor = 1.5

filename = "../data/snapshots/experimental/orderbooks_{}_range{}_samples{}_snapshot{}.dict".format(
    currency_pair, range_factor, num_samples, str(datetime.now().isoformat())[:-10])
print(filename)

query_idx = range(100)
extract_orderbooks_for_one_currencypair([datafiles[idx] for idx in query_idx], currency_pair='USDT_BTC',
                                        outfile=filename,
                                        range_factor=range_factor, num_samples=num_samples, float_precision=2)

In [5]:
filename = '../data/snapshots/orderbooks_USDT_BTC_range1.15_samplesNone_snapshot2016-12-15T15:09.dict'
orderbooks, timestamps = load_orderbook_snapshot(infile=filename, first_line=0, last_line=1000)
# display(timestamps)
print(len(orderbooks[0]))

# orderbooks = orderbooks[:1000]

100%|██████████| 1000/1000 [00:12<00:00, 78.45it/s]

Loaded Orderbooks: 1000
908

In [6]:
display(timestamps[0][:-10])

u'2016-11-08T10:00'

In [ ]:
ots = OrderbookTradingSimulator()

vol = 40
period_length = 15
lim = 706
order_periods = 10
must_trade = False

ob = orderbooks[0]

for i in range(order_periods):
    if i == order_periods-1:
        must_trade = True
    
    print("Period {}: volume={}, limit={}".format(i+1, vol, lim))
    new_ob = ots.trade_timespan(orderbooks[i*period_length:(i+1)*period_length],
                                timestamps[i*period_length:(i+1)*period_length],
                                timespan=period_length, must_trade=must_trade,
                                volume=vol, limit=lim, verbose=True)
    vol = ots.history.volume_left.values[-1]
    print("vol", vol)
    print("volume_of_last_trade_period {}".format(ots.volume_of_last_trade_period))
    
    if abs(vol) == 0:
        print("Done after {} order_periods".format(i+1))
        break
    elif vol > 0:
        pass
        #lim += 1
    elif vol < 0:
        pass
        #lim -= 1
ots.summarize(new_ob)
    

# new_ob = ots.trade_timespan(orderbooks[timespan:timespan+timespan], volume=vol, limit=706, verbose=True, timespan=timespan)
plot_orderbook(new_ob, title = "Orderbook {}".format(ots.t), normalized=True, range_factor=1.05)

 13%|█▎        | 2/15 [00:00<00:00, 19.44it/s]

Period 1: volume=40, limit=706

100%|██████████| 15/15 [00:01<00:00,  8.91it/s]

,ASK,BID,CENTER,LIMIT,SPREAD,TIMESPAN,VOLUME,avg,cashflow,high,low,slippage,volume_left,volume_traded
2016-11-08T10:00,705.45,705.0,705.224976,706,0.45,15,40,705.449999,-4838.059048,705.45,705.0,0.000005,33.141882,6.858118

 #####   TRADE Number 15   #####
Purchase history

{'705.0': 1.2e-05, '705.45': 6.858105590000001}

Sell history

{}

Last trade

{}

Last trade  : 6.8581/40.0000 shares
Total trades: 6.8581/40.0000 shares
Spread: 2.17 (bid: 704.0, ask: 706.17)
Adjusted Orderbook:

       Amount       Price    Type       Volume    VolumeAcc  norm_Price
989  1.780000  703.690000     bid  1252.568200  3586.621710    0.998022
990  0.001250  703.700000     bid     0.879625  2334.053510    0.998036
991  3.314167  704.000000     bid  2333.173885  2333.173885    0.998462
992  0.000000  705.084443  center     0.000000     0.000000    1.000000
994  0.052838  706.170000     ask    37.312497    37.312497    1.001540
995  0.645323  706.190000     ask   455.720409   493.032907    1.001568
996  0.045817  706.410000     ask    32.365884   525.398790    1.001880

  0%|          | 0/15 [00:00<?, ?it/s]

Traded 6.8581/40.0000 shares for -4838.05904847, 33.1419 shares left
('vol', 33.141882410000001)
volume_of_last_trade_period 0
Period 2: volume=33.14188241, limit=706

100%|██████████| 15/15 [00:01<00:00,  8.99it/s]
/usr/lib64/python2.7/site-packages/pandas/core/generic.py:5128: RuntimeWarning: invalid value encountered in absolute
  return np.abs(self)

,ASK,BID,CENTER,LIMIT,SPREAD,TIMESPAN,VOLUME,avg,cashflow,high,low,slippage,volume_left,volume_traded
2016-11-08T10:00,705.45,705.0,705.224976,706,0.45,15,40.000000,705.449999,-4838.059048,705.45,705.000000,0.000005,33.141882,6.858118
2016-11-08T10:15,706.17,704.0,705.084443,706,2.17,15,33.141882,NaN,0.000000,0.00,inf,0.000000,33.141882,0.000000

 #####   TRADE Number 30   #####
Purchase history

{'705.0': 1.2e-05, '705.45': 6.858105590000001}

Sell history

{}

Last trade

{}

Last trade  : 0.0000/33.1419 shares
Total trades: 6.8581/40.0000 shares
Spread: 1.17 (bid: 705.0, ask: 706.17)
Adjusted Orderbook:

       Amount       Price    Type       Volume    VolumeAcc  norm_Price
990  1.414700  704.110000     bid   996.104417  4294.842874    0.997910
991  1.702700  704.440000     bid  1199.449988  3298.738457    0.998377
992  2.977714  705.000000     bid  2099.288469  2099.288469    0.999171
993  0.000000  705.584838  center     0.000000     0.000000    1.000000
995  0.052838  706.170000     ask    37.312497    37.312497    1.000829
996  0.645323  706.190000     ask   455.720409   493.032907    1.000858
997  0.000950  707.100000     ask     0.671745   493.704652    1.002147

  7%|▋         | 1/15 [00:00<00:01,  8.45it/s]

Traded 0.0000/33.1419 shares for 0, 33.1419 shares left
('vol', 33.141882410000001)
volume_of_last_trade_period 0
Period 3: volume=33.14188241, limit=706

100%|██████████| 15/15 [00:00<00:00, 14.83it/s]

,ASK,BID,CENTER,LIMIT,SPREAD,TIMESPAN,VOLUME,avg,cashflow,high,low,slippage,volume_left,volume_traded
2016-11-08T10:00,705.45,705.00,705.224976,706,0.45,15,40.000000,705.449999,-4838.059048,705.45,705.000000,0.000005,33.141882,6.858118
2016-11-08T10:15,706.17,704.00,705.084443,706,2.17,15,33.141882,NaN,0.000000,0.00,inf,0.000000,33.141882,0.000000
2016-11-08T10:30,706.17,704.44,705.304646,706,1.73,15,33.141882,703.800000,-650.681744,703.80,703.800000,2.191128,32.217356,0.924526

 #####   TRADE Number 45   #####
Purchase history

{'703.8': 0.92452648999999998, '705.0': 1.2e-05, '705.45': 6.858105590000001}

Sell history

{}

Last trade

{}

Last trade  : 0.9245/33.1419 shares
Total trades: 7.7826/40.0000 shares
Spread: 2.69 (bid: 703.5, ask: 706.19)
Adjusted Orderbook:

       Amount       Price    Type       Volume    VolumeAcc  norm_Price
987  0.060000  703.000000     bid    42.180000  2950.318685    0.997384
988  1.700000  703.360000     bid  1195.712000  2908.138685    0.997894
989  2.434153  703.500000     bid  1712.426685  1712.426685    0.998093
990  0.000000  704.844144  center     0.000000     0.000000    1.000000
991  3.642925  706.190000     ask  2572.597220  2572.597220    1.001909
992  0.000830  707.000000     ask     0.586810  2573.184030    1.003059
993  0.000950  707.100000     ask     0.671745  2573.855775    1.003201

 13%|█▎        | 2/15 [00:00<00:00, 17.63it/s]

Traded 0.9245/33.1419 shares for -650.681743662, 32.2174 shares left
('vol', 32.217355920000003)
volume_of_last_trade_period 0
Period 4: volume=32.21735592, limit=706

100%|██████████| 15/15 [00:00<00:00, 19.00it/s]

,ASK,BID,CENTER,LIMIT,SPREAD,TIMESPAN,VOLUME,avg,cashflow,high,low,slippage,volume_left,volume_traded
2016-11-08T10:00,705.45,705.00,705.224976,706,0.45,15,40.000000,705.449999,-4838.059048,705.45,705.000000,0.000005,33.141882,6.858118e+00
2016-11-08T10:15,706.17,704.00,705.084443,706,2.17,15,33.141882,NaN,0.000000,0.00,inf,0.000000,33.141882,0.000000e+00
2016-11-08T10:30,706.17,704.44,705.304646,706,1.73,15,33.141882,703.800000,-650.681744,703.80,703.800000,2.191128,32.217356,9.245265e-01
2016-11-08T10:45,703.63,703.50,703.564998,706,0.13,15,32.217356,703.630000,-0.000007,703.63,703.630000,0.000000,32.217356,1.000000e-08

 #####   TRADE Number 60   #####
Purchase history

{'703.63': 1e-08,
 '703.8': 0.92452648999999998,
 '705.0': 1.2e-05,
 '705.45': 6.858105590000001}

Sell history

{}

Last trade

{}

Last trade  : 0.0000/32.2174 shares
Total trades: 7.7826/40.0000 shares
Spread: 1.5 (bid: 704.58, ask: 706.08)
Adjusted Orderbook:

        Amount       Price    Type       Volume    VolumeAcc  norm_Price
996   0.500000  703.500000     bid   351.750000  2202.209473    0.997406
997   2.008741  703.670000     bid  1413.490611  1850.459473    0.997647
998   0.620183  704.580000     bid   436.968862   436.968862    0.998937
999   0.000000  705.329734  center     0.000000     0.000000    1.000000
1000  4.373581  706.080000     ask  3088.098115  3088.098115    1.001064
1001  0.006882  706.180000     ask     4.859910  3092.958024    1.001205
1002  0.508136  706.190000     ask   358.840512  3451.798537    1.001220

 13%|█▎        | 2/15 [00:00<00:00, 18.08it/s]

Traded 0.0000/32.2174 shares for -7.0363e-06, 32.2174 shares left
('vol', 32.217355910000002)
volume_of_last_trade_period 0
Period 5: volume=32.21735591, limit=706

100%|██████████| 15/15 [00:00<00:00, 18.91it/s]

,ASK,BID,CENTER,LIMIT,SPREAD,TIMESPAN,VOLUME,avg,cashflow,high,low,slippage,volume_left,volume_traded
2016-11-08T10:00,705.45,705.00,705.224976,706,0.45,15,40.000000,705.449999,-4838.059048,705.45,705.000000,0.000005,33.141882,6.858118e+00
2016-11-08T10:15,706.17,704.00,705.084443,706,2.17,15,33.141882,NaN,0.000000,0.00,inf,0.000000,33.141882,0.000000e+00
2016-11-08T10:30,706.17,704.44,705.304646,706,1.73,15,33.141882,703.800000,-650.681744,703.80,703.800000,2.191128,32.217356,9.245265e-01
2016-11-08T10:45,703.63,703.50,703.564998,706,0.13,15,32.217356,703.630000,-0.000007,703.63,703.630000,0.000000,32.217356,1.000000e-08
2016-11-08T11:01,706.08,704.58,705.329734,706,1.50,15,32.217356,705.160000,-1.392585,705.16,705.160000,0.001817,32.215381,1.974850e-03

 #####   TRADE Number 75   #####
Purchase history

{'703.63': 1e-08,
 '703.8': 0.92452648999999998,
 '705.0': 1.2e-05,
 '705.16': 0.0019748500000000002,
 '705.45': 6.858105590000001}

Sell history

{}

Last trade

{}

Last trade  : 0.0020/32.2174 shares
Total trades: 7.7846/40.0000 shares
Spread: 0.99 (bid: 705.09, ask: 706.08)
Adjusted Orderbook:

        Amount       Price    Type       Volume    VolumeAcc  norm_Price
994   0.138709  704.580000     bid    97.731721  4386.143772    0.998576
995   1.700000  704.780000     bid  1198.126000  4288.412051    0.998859
996   4.382825  705.090000     bid  3090.286051  3090.286051    0.999299
997   0.000000  705.584884  center     0.000000     0.000000    1.000000
998   3.194443  706.080000     ask  2255.532652  2255.532652    1.000702
999   0.006882  706.180000     ask     4.859910  2260.392562    1.000843
1000  0.508136  706.190000     ask   358.840512  2619.233074    1.000858

  0%|          | 0/15 [00:00<?, ?it/s]

Traded 0.0020/32.2174 shares for -1.392585226, 32.2154 shares left
('vol', 32.215381059999999)
volume_of_last_trade_period 0
Period 6: volume=32.21538106, limit=706

100%|██████████| 15/15 [00:00<00:00, 18.16it/s]

,ASK,BID,CENTER,LIMIT,SPREAD,TIMESPAN,VOLUME,avg,cashflow,high,low,slippage,volume_left,volume_traded
2016-11-08T10:00,705.45,705.00,705.224976,706,0.45,15,40.000000,705.449999,-4838.059048,705.45,705.000000,0.000005,33.141882,6.858118e+00
2016-11-08T10:15,706.17,704.00,705.084443,706,2.17,15,33.141882,NaN,0.000000,0.00,inf,0.000000,33.141882,0.000000e+00
2016-11-08T10:30,706.17,704.44,705.304646,706,1.73,15,33.141882,703.800000,-650.681744,703.80,703.800000,2.191128,32.217356,9.245265e-01
2016-11-08T10:45,703.63,703.50,703.564998,706,0.13,15,32.217356,703.630000,-0.000007,703.63,703.630000,0.000000,32.217356,1.000000e-08
2016-11-08T11:01,706.08,704.58,705.329734,706,1.50,15,32.217356,705.160000,-1.392585,705.16,705.160000,0.001817,32.215381,1.974850e-03
2016-11-08T11:16,706.08,705.09,705.584884,706,0.99,15,32.215381,NaN,0.000000,0.00,inf,0.000000,32.215381,0.000000e+00

 #####   TRADE Number 90   #####
Purchase history

{'703.63': 1e-08,
 '703.8': 0.92452648999999998,
 '705.0': 1.2e-05,
 '705.16': 0.0019748500000000002,
 '705.45': 6.858105590000001}

Sell history

{}

Last trade

{}

Last trade  : 0.0000/32.2154 shares
Total trades: 7.7846/40.0000 shares
Spread: 0.96 (bid: 705.12, ask: 706.08)
Adjusted Orderbook:

        Amount       Price    Type       Volume    VolumeAcc  norm_Price
997   1.598709  704.580000     bid  1126.418521  3450.118887    0.998555
998   1.600500  704.790000     bid  1128.016395  2323.700366    0.998852
999   1.695717  705.120000     bid  1195.683971  1195.683971    0.999320
1000  0.000000  705.599891  center     0.000000     0.000000    1.000000
1001  2.541509  706.080000     ask  1794.508992  1794.508992    1.000680
1002  0.006882  706.180000     ask     4.859910  1799.368902    1.000822
1003  0.508136  706.190000     ask   358.840512  2158.209414    1.000836

  0%|          | 0/15 [00:00<?, ?it/s]

In [ ]:
ots = OrderbookTradingSimulator()

vol = 2

ob = orderbooks[0]
new_ob = ots.trade(orderbooks[0], volume=vol, limit=None, verbose=True)
plot_orderbook(new_ob, title = "Orderbook {}".format(ots.t), normalized=True, range_factor=1.05)
trade_counter = 1

In [ ]:
center = orderbooks[0][orderbooks[0].Type=='center'].Price.values[0]
bid = orderbooks[0][orderbooks[0].Type=='bid'].Price.values[-1]
ask = orderbooks[0][orderbooks[0].Type=='ask'].Price.values[0]
print("Bid:    {}".format(bid))
print("Center: {}".format(center))
print("Ask:    {}\n".format(ask))

result = 0
trade_vol = -10
limit=704
trade_info = place_order(orderbooks[0], trade_vol, limit=limit)
cash_flow = trade_info['cashflow']
trade_vol -= trade_info['amount_fulfilled']

display(trade_info)
display(orderbook_preview(ob, 3))

#cash_flow = 0
minute = 1
for i, ob in enumerate(orderbooks[1:]):
    if abs(trade_vol) < 1.0e-10:
        break
        
    
    print("timesteps: {} ==> {}, {}".format(minute, cash_flow, trade_vol))
    if abs(trade_vol) > 1.0e-10 and i == len(orderbooks[1:])-1:
        print("TRADE!!!")
        # trade always in last Timestep
        trade_info = place_order(ob,  trade_vol, limit=None, trade_history=trade_info['trade_history'])
        cash_flow += trade_info['cashflow']
        trade_vol -= trade_info['amount_fulfilled']
    
    elif abs(trade_vol) > 1.0e-10:
        print("trade_vol", trade_vol)
        trade_info = place_order(ob,  trade_vol, limit=limit, trade_history=trade_info['trade_history'])
        cash_flow += trade_info['cashflow']
        trade_vol -= trade_info['amount_fulfilled']

    display(trade_info)
    
    minute += 1
    
    print("")
    
    print("trade_vol: {:1.4f}, center: {:1.4f}, limit: {}".format(trade_vol, ob[ob.Type=='center'].Price.values[0], limit))
print("timesteps: {} ==> {}, {}".format(minute, cash_flow, trade_vol))

display(orderbook_preview(ob, 3))

In [ ]:
range_factor = 1.01
# plot_orderbook(data[0], normalized=True, range_factor=range_factor)
print(len(orderbooks))
for idx in [1, 5000, 25000, -1]:
    print(idx, timestamps[idx])
    display(orderbook_preview(orderbooks[idx], 3))
    plot_orderbook(orderbooks[idx], title=timestamps[idx], normalized=True, range_factor=range_factor)