In [1]:
%load_ext autoreload
%autoreload 2

from tqdm import tqdm
import pandas as pd
import numpy as np
import gzip
import json
import math
from datetime import datetime
from IPython.display import display
%matplotlib inline

In [2]:
currency_pair = 'USDT_BTC'

In [3]:
folder = '../../data/'
files = [os.path.join(dp, f) for dp, dn, fn in os.walk(os.path.expanduser(folder)) for f in fn]
datafiles = sorted([f for f in files if f.endswith('.log.gz')])
print("Number of datafiles to extract from: {}".format(len(datafiles)))
print("First file: {}".format(datafiles[0]))
print("Last file : {}".format(datafiles[-1]))

Number of datafiles to extract from: 102221
First file: ../../data/2016-11-08/poloniex_full_2016-11-08T10:00:09.955811.log.gz
Last file : ../../data/2017-01-18/poloniex_full_2017-01-18T10:49:05.114922.log.gz

In [176]:
from helper.manage_orderbooks_v2 import extract_orderbooks_for_one_currencypair, load_orderbook_snapshot
from helper.manage_orderbooks_v2 import get_ask, get_bid

In [185]:
filename = 'test'
query_idx = range(0,3)
data = [datafiles[idx] for idx in query_idx]
currency_pair='USDT_BTC'
range_factor = 1.003

extract_orderbooks_for_one_currencypair(data, currency_pair, outfile=filename, overwrite=True,
                                        range_factor=range_factor, pricelevel_precision=2)

data = load_orderbook_snapshot(filename, last_line=2)

ob = data[0]
print("Type: ", type(ob['asks']))

 33%|███▎      | 1/3 [00:00<00:00,  9.85it/s]

Orderbook content will be written to 'test'

100%|██████████| 3/3 [00:00<00:00,  9.21it/s]
100%|██████████| 2/2 [00:00<00:00, 19.39it/s]

Successfully created file 'test'
Loaded 2 orderbooks from file 'test'.
('Type: ', <class 'pandas.core.frame.DataFrame'>)

In [187]:
orderbook = data[0]
print(type(orderbook))
display(orderbook['bids'])
display(orderbook['asks'])
display(orderbook['timestamp'])

<type 'dict'>

          Amount
705.00  0.158232
703.70  0.001250
703.50  1.461657
703.36  1.700000

          Amount
705.45  2.772181
706.17  0.052838
706.19  0.645323
706.89  0.105160
707.18  7.988556
707.33  0.260000

u'2016-11-08T10:00'

In [208]:
orderbook = data[0]
print(get_ask(orderbook))
print(get_bid(orderbook))

705.45
705.0